<!-- <form  >
    <h3>Edit Product Details</h3>
    <h3>mb-1 : mobile</h3>
    <div>
        <label>Description</label>
        <input type="text" name="description">
    </div>
    <div>
        <label>Price</label>
        <input type="number" name="price">
    </div>
    <div>
        <label>Category</label>
        <input type="text" name="category">
    </div>
    <div>
        <label>Image URL</label>
        <input type="text" name="image">
    </div>
    <div>
        <label>Stock</label>
        <input type="number" name="stock">
    </div>
    <button type="submit">Save</button>
    <button>Cancel</button>
</form> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layouts/head.ejs") %>
    <title><%= product.name %></title>
</head>
<body>
   

</body>
</html>