<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../admin/layouts/head.ejs") %>
</head>
<script>
      const toggleDarkMode = () => {
  document.documentElement.classList.toggle('dark');
};
</script>

<body class="bg-green-400 flex-initial justify-center align-middle ">
    <div class="h-auto bg-blue-600 p-4 flex-row font-extrabold text-9xl"><%= locals.status || "404" %>
    </div>
    <br class="bg-white">
    <div class=" k h-auto bg-blue-600 p-4 flex-row font-extrabold text-5xl">
        <h1>
 <%= locals.errr %>
        </h1>
    </div>


</body>

</html>