<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com/"></script>
  <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.4/tailwind.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.4/base.css" />
  <style>
    * {
      margin-bottom: -16px;
      text-wrap: wrap;
      text-justify: auto;
    }

    .hi {
      width: 400px
    }
  </style>
  </style>
  <title>signIn</title>
</head>

<body class="bg-gray-800 dark:bg-dark">
  <h1 class="bg-green-900 text-center text-4xl font-bold text-white">signIn</h1>
  <div class="grid justify-items-center">
    <form action="signin" method="post" class="p-3 mt-16 hi container max-w-none h-[80] grid  bg-green-700 ">
      <br>
      <label for="username" class="h-[5] w-full dark:text-white">username</label>
      <input type="text" name="username" value="<%= locals.username %>" class="h-auto w-full bg-green-200">
      <label for="password" class="h-[5]"> password</label>
      <input type="password" name="password" class="h-auto w-full bg-green-200">
      <button type="submit">submit</button>
    </form>
  </div>
</body>

</html>